@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@200&display=swap');

*{box-sizing: border-box;}


body {
    background-color: #1c1a1a;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin: 0;
    
}


.container {
    background-color: #0a0b0b;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    min-height: 500px;
    padding: 20px;
    display: flex;
    width: 50%;
}

.title {
    background-color: #2d2c2c;
    justify-content: center;
    border-radius: 10px;
    margin: 20px;
    margin-bottom: 4px;
    align-items: center;
    color: #fff;
    display: flex;
    height: 100px;
    width: 50%;
}

.title .titeText {
    width: 50%;
    text-align: center;
    font-family: 'Sofia Sans', sans-serif;
}

.title .menu {
    width: 50%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}

.btn {
    background-color: #252525;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    padding: 25px;
}

.btn:hover {
    border-radius: 16px 16px 16px 0px;
    background-color: #4932a5;
    font-size: 20px;
}

.window {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    width: 80%;
}

.window .windowTitle {
    border-radius: 16px 16px 0px 0px;
    justify-content: space-around;
    background-color: #2d2c2c;
    align-items: center;
    text-align: center;
    display: flex;
    height: 50px;
    padding: 5px;
}

.window .windowTitle h5 {
    background-color: #4932a5;
    border-radius: 20px;
    padding: 5px;
    width: 25%;
}

.window .windowTitle .buttons {
    align-items: center;
    display: flex;
    width: 75%;
} 

.buttons .windowBtn {
    filter: drop-shadow(var(--color) 1px 1px 10px);
    background-color: var(--color);
    border: 2px solid #000;
    border-radius: 100%;
    cursor: pointer;
    margin: 5px;
    height: 15px;
    width: 15px;
}

.window .windowContent {
    border-radius: 0px 0px 10px 10px;
    background-color: #242424;
    min-height: 400px;
    display: flex;
    padding: 10px;
}

.window .windowContent .content {
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
    border-radius: 0px 16px 16px 0px;
    background-color: #0e0e0f;
    min-height: 200px;
    width: 95%;
    padding: 10px;
}

.window .windowContent .codeLines {
    border-radius: 10px 0px 0px 10px;
    background-color: #43494665;
    color: #545454;
    min-height: 200px;
    width: 5%;
    padding: 5px;
}


.jshConsole {
    background: #00000000;
    border-radius: 10px;
    transition: 0.5s;
    margin-top: 10px;
    padding: 10px;
    height: 0px;
}

.jshConsole .jshTitle {
    border-radius: 10px 10px 0px 0px;
    justify-content: center;
    background: #252525;
    align-items: center;
    display: flex;
    display: none;
    height: 40px;
    width: 100%;
}

.jshConsole .jshTitle h5 {
    border-radius: 10px, 0px, 10px, 0px;
    background-color: #3d3d2f;
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
    padding: 5px;
    width: 80%;
}

.jshTitle .closeBtn {
    transition: 0.3s ease-in-out;
    background: #4932a5;
    height: fit-content;
    text-align: center;
    cursor: pointer;
    margin: 20px;
    padding: 5px;
    width: 20%;
    border-radius: 10px;
}

.closeBtn:hover {
    letter-spacing: 2px;
    border-radius: 10px;
}

.jshConsoleContent {
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 0px 0px 10px 10px;
    font-family: 'Roboto', sans-serif;
    background-color: #0a0b0b;
    padding: 10px;
    height: 190px;   
    color: #545454;
    overflow-y: scroll;
    display: none;
}

.buttons .windBtn {
    background: #369a95;
    border-radius: 10px;
    margin-left: 10px;
    text-align:center;
    transition: 0.3s;
    font-size: 10px;
    cursor: pointer;
    width: 100px;
    height: 30px;
}

.windBtn:hover {
    background: #36529a;
}

.neon {
    filter: drop-shadow(2px 2px 6px var(--clr));
    color: var(--clr);
}
